:javascript
  var data = #{@plot_data.to_json};
%h1
  = @item.name

%h2
  Info
.info
  = alla_link(@item)
  
%h2
  Statistics
%table
  %tr
    %td
      Max:
    %td
      = @auctions.maximum(:price)
  %tr
    %td
      Min:
    %td
      = @auctions.minimum(:price)
  %tr
    %td
      Average:
    %td
      = @auctions.average(:price)
  %tr
    %td
      Median:
    %td
      = median(@auctions.map(&:price))
  %tr
    %td
      Standard Deviation:
    %td
      = standard_deviation(@item.auctions.not_hidden.map(&:price)).round(2)


#placeholder{:style => 'width:1000px;height:500px;'}
%ul.controle
  %li= link_to('All Data', '#', :id => 'whole', :class => 'button')
  %li= link_to('Ten Days', '#', :id => 'ten_day', :class => 'button')
  %li= link_to('Thirdy Days', '#', :id => 'thirty_day', :class => 'button')
  
:javascript
  function whole_plot(data) {
    $.plot($("#placeholder"), [data], {
        xaxis: {
            mode: "time",
            min: #{@auctions.first.time.to_i},
            max: #{@auctions.last.time.to_i}
        }
    });
  }
  $(document).ready(function() {
    whole_plot(data);
    $("#whole").click(function () {
            whole_plot(data);
            return false;
        });

        $("#ten_day").click(function () {
            $.plot($("#placeholder"), [data], {
                xaxis: {
                    mode: "time",
                    min: #{10.days.ago.to_i},
                    max: #{Time.now.to_i}
                }
            });
            return false;
        });

        $("#thirty_day").click(function () {
            $.plot($("#placeholder"), [data], {
                xaxis: {
                    mode: "time",
                    minTickSize: [1, "month"],
                    min: #{10.days.ago.to_i},
                    max: #{Time.now.to_i}
                }
            });
            return false;
        });
  });


%h2
  Auction Data
%table{:cellspacing => 0, :cellpadding => 5}
  %tr
    %th
      Time
    %th
      Price
    %th
      Seller
    %th
  - @auctions.each do |auction|
    %tr{:class => cycle('alt','')}
      %td
        = auction.time.strftime("%a %b %d %I:%M %p")
      %td
        = auction.price
      %td
        = auction.player
      %td
        = link_to 'Remove', auction, :method => :delete, :confirm => "Are you sure?"
= will_paginate @paginate