%h1
  = @item.name
%p
  Max: 
  = @item.auctions.not_hidden.maximum(:price)
%p
  Min:
  = @item.auctions.not_hidden.minimum(:price)
%p 
  Average:
  = @item.auctions.not_hidden.average(:price)
%p
  Median:
  = median(@item.auctions.not_hidden.map(&:price))
%p
  Standard Deviation:
  = standard_deviation(@item.auctions.not_hidden.map(&:price)).round(2)

%canvas{:id => "chart", :width => "1024", :height => "350", :style => 'margin:auto'}
:javascript
      $(document).ready(function(){
        var g = new Bluff.Line('chart', '1024x350');
        g.title = '#{@item.name}';
        g.theme_keynote();
        g.data(" ", #{@item.auctions.not_hidden.map(&:price).inspect});
        g.draw();
      });


%h2
  Auction Data
%table{:cellspacing => 0, :cellpadding => 5}
  %tr
    %th
      Time
    %th
      Price
    %th
      Seller
    %th
  - @auctions.each do |auction|
    %tr{:class => cycle('alt','')}
      %td
        = auction.time.strftime("%a %b %d %I:%M %p")
      %td
        = auction.price
      %td
        = auction.player
      %td
        = link_to 'Remove', auction, :method => :delete, :confirm => "Are you sure?"
= will_paginate @auctions