- if session[:uploaded]
  :javascript
    var d = #{@plot_data.to_json};
    var data = []
    $.each(d, function(i) {
      data.push([ (new Date(d[i][0])).getTime(), d[i][1] ]);
    });
%h1
  = @item.name

.info
  = alla_link(@item)
  
%h2
  Statistics
%table
  %tr
    %td
      Max:
    %td
      = @auctions.maximum(:price)
  %tr
    %td
      Min:
    %td
      = @auctions.minimum(:price)
  %tr
    %td
      Average:
    %td
      = @auctions.average(:price)
  %tr
    %td
      Median:
    %td
      = median(@auctions.map(&:price))
  %tr
    %td
      Standard Deviation:
    %td
      = standard_deviation(@item.auctions.not_hidden.map(&:price)).round(2)

#graph
  #placeholder{:style => 'width:600px;height:300px;'}
  %ul.control
    %li= link_to('All Data', '#', :id => 'whole', :class => 'button')
    %li= link_to('Ten Days', '#', :id => 'ten_day', :class => 'button')
    %li= link_to('Thirdy Days', '#', :id => 'thirty_day', :class => 'button')
  
:javascript
  function whole_plot(data) {
    $.plot($("#placeholder"), [data], {
        grid: { backgroundColor:"#4d4c4c"},
        colors: ["#d5cdcd"],
        series: {
              lines: { show: true },
              points: { show: true, fill: false }
            },
        xaxis: {
            mode: "time",
            min: (new Date("#{@auctions.first.time.to_s(:rfc822)}")).getTime(),
            max: (new Date()).getTime()
        }
    });
  }
  $(document).ready(function() {
    whole_plot(data);
    $("#whole").click(function () {
            whole_plot(data);
            return false;
        });

        $("#ten_day").click(function () {
            $.plot($("#placeholder"), [data], {
                grid: { backgroundColor:"#4d4c4c"},
                colors: ["#d5cdcd"],
                series: {
                      lines: { show: true },
                      points: { show: true, fill: false }
                    },
                xaxis: {
                    mode: "time",                    
                    min: (new Date('#{10.days.ago.to_s(:rfc822)}')).getTime(),
                    max: (new Date()).getTime()
                }
            });
            return false;
        });

        $("#thirty_day").click(function () {
            $.plot($("#placeholder"), [data], {
                grid: { backgroundColor:"#4d4c4c"},
                colors: ["#d5cdcd"],
                series: {
                      lines: { show: true },
                      points: { show: true, fill: false }
                    },
                xaxis: {
                    mode: "time",
                    min: (new Date('#{30.days.ago}')).getTime(),
                    max: (new Date()).getTime()
                }
            });
            return false;
        });
  });


%h2
  Auction Data
%table{:cellspacing => 0, :cellpadding => 5}
  %tr
    %th
      Time
    %th
      Price
    %th
      Seller
    %th
  - @paginate.each do |auction|
    %tr{:class => cycle('alt','')}
      %td
        = auction.time.strftime("%a %b %d %I:%M %p")
      %td
        = auction.price
      %td
        = auction.player
      %td
        = link_to 'Remove', auction, :method => :delete, :confirm => "Are you sure?"
= will_paginate @paginate