:javascript
  var d = #{@plot_data.to_json};
  var data = []
  $.each(d, function(i) {
    data.push([ (new Date(d[i][0])).getTime(), d[i][1] ]);
  });
- content_for :title do
  = @item.name.camelcase

#graph
  %h3 Graph
  #placeholder{:style => 'width:600px;height:300px;'}
  %ul.control
    %li= link_to('Ten Days', '#', :id => 'ten_day', :class => 'button')
    %li= link_to('Thirty Days', '#', :id => 'thirty_day', :class => 'button')
    %li= link_to('All Data', '#', :id => 'whole', :class => 'button')
  
:javascript
  function whole_plot(data) {
    $.plot($("#placeholder"), [data], {
        grid: { backgroundColor:"#4d4c4c"},
        colors: ["#d5cdcd"],
        series: {
              lines: { show: true },
              points: { show: true, fill: false }
            },
        xaxis: {
            mode: "time",
            min: (new Date("#{@auctions.first.time.to_s(:rfc822)}")).getTime(),
            max: (new Date()).getTime()
        }
    });
  }
  $(document).ready(function() {
    whole_plot(data);
    $("#whole").click(function () {
            whole_plot(data);
            return false;
        });

        $("#ten_day").click(function () {
            $.plot($("#placeholder"), [data], {
                grid: { backgroundColor:"#4d4c4c"},
                colors: ["#d5cdcd"],
                series: {
                      lines: { show: true },
                      points: { show: true, fill: false }
                    },
                xaxis: {
                    mode: "time",                    
                    min: (new Date('#{10.days.ago.to_s(:rfc822)}')).getTime(),
                    max: (new Date()).getTime()
                }
            });
            return false;
        });

        $("#thirty_day").click(function () {
            $.plot($("#placeholder"), [data], {
                grid: { backgroundColor:"#4d4c4c"},
                colors: ["#d5cdcd"],
                series: {
                      lines: { show: true },
                      points: { show: true, fill: false }
                    },
                xaxis: {
                    mode: "time",
                    min: (new Date('#{30.days.ago.to_s(:rfc822)}')).getTime(),
                    max: (new Date()).getTime()
                }
            });
            return false;
        });
  });

.info
  = alla_link(@item)
  - unless @monthly.size == 0
    %h2
      30 Day Statistics
    %table
      - {:max => 'Max', :min => 'Min', :mean => 'Average', :median => 'Median', :sdp => 'Standard Deviation'}.each do |col, label|
        %tr{:class => cycle('', 'alt')}
          %td= label
          %td= @monthly.send(col)

  %h2
    All Time Statistics
  %table
    - {:max => 'Max', :min => 'Min', :mean => 'Average', :median => 'Median', :sdp => 'Standard Deviation'}.each do |col, label|
      %tr{:class => cycle('', 'alt')}
        %td= label
        %td= @vector.send(col)



%h2
  Auction Data
%table{:cellspacing => 0, :cellpadding => 5, :class => 'auctions'}
  %tr
    %th
      Time
    %th
      Price
    %th
      Seller
    %th &nbsp;
  - @paginate.each do |auction|
    %tr{:class => cycle('alt','')}
      %td.time
        = auction.time.strftime("%a %b %d %I:%M %p")
      %td
        = auction.price
      %td
        = auction.player
      %td
        = link_to 'Remove', auction_path(auction), :method => :delete, :confirm => "Are you sure?"

#pagination= will_paginate @paginate