- content_for :title do
  - if params[:letter]
    Auctions starting with letter
    = params[:letter].upcase
  - else
    Search Results for 
    = params[:search][:search]
  
#auction_data
  #pagination
    = letter_pagination(@letter)
  %table{:cellspacing => 0, :cellpadding => 5, :class => 'auctions'}
    %thead
      %tr
        %th
          Item
        %th
          Median
        %th
          Mean Price
        %th
          Std Deviation
        %th
          Max
        %th
          Min
        %th 
          Times seen
        %th
          10 Day mean
        %th
          30 Day mean
    %tbody
      - @items.each do |item|
        - next if @auctions[item.name].blank?
        %tr{:class => cycle('alt','')}
          %td 
            = link_to(item.name, item_path(item.id), :item_id => item.id, :class => :item_link)
          %td
            = @auctions[item.name].median
          %td
            = @auctions[item.name].mean.round(2)
          %td
            = @auctions[item.name].sdp.round(2)
          %td
            = @auctions[item.name].max
          %td
            = @auctions[item.name].min
          %td
            = @auctions[item.name].size
          %td
            - math = item.auctions.not_hidden.average(:price, :conditions => {:time => 10.days.ago..Time.now})
            = math.blank? ? 0.0 : math.round
          %td
            - math = item.auctions.not_hidden.average(:price, :conditions => {:time => 30.days.ago..Time.now})
            = math.blank? ? 0.0 : math.round
  #pagination
    = letter_pagination(@letter)
