%h1 Listing item_aliases
%table
  %tr
    %th Alias
    %th Item
    %th
    %th
    %th
  - @item_aliases.each do |item_alias|
    %tr
      %td= item_alias.alias
      %td= item_alias.item
      %td= link_to 'Show', item_alias
      %td= link_to 'Edit', edit_item_alias_path(item_alias)
      %td= link_to 'Destroy', item_alias, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Item alias', new_item_alias_path
