%html
  %head
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'application', 'js-class', 'excanvas', 'bluff-min'
    %title=@page_title.join(' - ')
  %body
    #wrapper
      #header
        = display_flash
        = yield :header
      #content
        = yield
      #footer
        %p
          Comments or sugestions
          = mail_to('jetviper21@gmail.com', 'email me', :encode => "javascript")
        - unless @glog.blank?
          %p
            Last log uploaded on 
            = @glog.created_at

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18922373-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();