%html
  %head
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'compiled/screen.css'
    = stylesheet_link_tag 'jquery-ui.css', 'facebox'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js'
    = javascript_include_tag 'application', 'excanvas.min', 'jquery.flot.min', 'facebox'
    /[if lt IE 7]
      = stylesheet_link_tag 'compiled/ie6.css', :media => 'screen, projection'
    %title=@page_title.join(' - ')
    %meta{:name => "keywords", :content => "everquest,game,gaming,emulator,eqemu,eqemulator,classic,nostalgia,server,project1999,classic,online,mmo,mmorpg"}
    %meta{:name => "description", :content => "Project 1999 is an Everquest Emulated Server committed to providing the classic Everquest experience as it was beginning in 1999. This is the site for tracking in game auction statictics"}
  %body{:class => controller_name}
    - unless session[:uploaded]
      :javascript
        $(document).ready(function() {
          jQuery.facebox({'div':  '#popup'});
        })
      #popup
        = render :partial => 'layouts/popup'
    #wrapper
      #header
        %ul.menu
          %li=link_to('Home', root_path)
          %li=link_to('Upload', new_auction_path)
        %h1.title
          = @page_title.join(' - ')
        #search
          = form_for :search, :url => auction_search_path, :html => {:method => :get} do |f| 
            = f.text_field :search, :value => @search
            = f.submit "Search"
        = yield :header
        %br{:style => 'clear:both'}
      = display_flash
      #content{:class => action_name}
        = yield
      #footer
        %p
          Comments or sugestions
          = mail_to('jetviper21@gmail.com', 'email me', :encode => "javascript")
        - unless @glog.blank?
          %p
            Last log uploaded on 
            = @glog.created_at
        <script type="text/javascript"><!--
        google_ad_client = "pub-0085223469947170";
        /* auction tracker */
        google_ad_slot = "4931544494";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18922373-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();