%html
  %head
    = stylesheet_link_tag 'style'
    = javascript_include_tag :all
    %title=@page_title.join(' - ')
  %body
    #wrapper
      #header
        = display_flash
        = yield :header
      #content
        = yield
      #footer

